extends layout

block content
	h1#header Graphsplease
	form(id = 'form' action="")
		input(id ='Search' autocomplete='off')
		button.btn.btn-primary(type='button') Search
	div(id = 'chart' style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
	script.
		socket.on('update', function(){
			socket.emit('refresh');
		});
		socket.on('searchResult', function(message){
			if(message[0] != 0 && message[1] != 0 && message[2] != 0){
				$(document).ready(function(){
					Highcharts.chart('chart', {
						chart: {
							type: 'pie'
						},
						title: {
							text: 'Live Data'
						},
						tooltip: {
							pointFormat: '{y}'
						},
						plotOptions: {
							pie: {
								allowPointSelect: true,
								cursor: 'pointer',
								dataLabels: {
									enabled: true,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								}
							}
						},
						navigation: {
							buttonOptions: {
								enabled: false
							}
						},
						series: [{
							name: 'Results',
							colorByPoint: true,
							animation: false,
							data: [{
								name: 'positive',
								y: message[0]
							}, {
								name: 'negative',
								y: message[1]
							}, {
								name: 'neutral',
								y: message[2]
							}]
						}]
					});
				});
			}
		});

		$('form').submit(function(){
			socket.emit('searchInput', $('#Search').val());
			$('#Search').val('');
			return false;
		});
		
